<mat-toolbar color="primary">
    <mat-icon>local_shipping</mat-icon>
   <span style="margin-right: 60%;">Chip-Cart</span>
   <a routerLink="login" style="margin-right:5%;">Login</a>
   <!-- <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>Menu</button> -->
<!-- <mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDialog()">Open dialog</button>
</mat-menu> -->
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with shoppingcart icon">
     <mat-icon>shopping_cart_rounded</mat-icon>
   </button>
</mat-toolbar>